@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}




.sectionPadding {
  @apply px-[0px] border-[0px] border-gray-800 mx-[40px] md:px-[10%] md:border-t-[1px] md:border-x-[1px] md:mx-[40px]
}


.flexCenter {
  @apply flex justify-center items-center
}

.center {
  @apply absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]
}


/* Positioning images in a circle */


.heroBackground {
  background-image: url('./assets/hero/hero-background.jpg');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}



